* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $backgroundcolor;
}

a {
    text-decoration: none;
    color: $blockcolor;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.container {
    min-width: $container;
    min-height: 770px;
    background-color: rgba(248, 249, 250, 1);
}

.second-container {
    width: $second-container;
    margin: 0 auto;
}