* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $backgroundcolor;
}

a {
    text-decoration: none;
    color: $blockcolor;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}

td {
    padding: 0 !important;
    margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.container {
    padding: 0;
    min-width: $container;
}

.second-container {
    width: $second-container;
    margin: 0 auto;
}

