$backgroundcolor: rgba(248, 249, 250, 1);
$blockcolor: rgba(255, 255, 255, 1);

$basiccolor: rgba(50, 113, 210, 1);
$fullcolor: rgba(19, 46, 87, 1);
$textcolor: rgba(87, 89, 93, 1);
$lighttextcolor: rgba(114, 116, 119, 1);

$container: 1366px;
$second-container: 1120px;
